body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.store {
  padding: 20px;
}

.header {
  background: #2ecc71;
  color: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}

.search input {
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.image {
  font-size: 60px;
}

.price {
  color: red;
  font-weight: bold;
}

button {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}
.card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}

.categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.categories button {
  padding: 10px 15px;
  border-radius: 8px;
}